# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/
.env
# Streamlit cache
.streamlit/

# OS files
.DS_Store

# Data files
matched_prices.csv
matched_prices_history.csv
